.order-summary {
  /* background: #ff9900; */
  background: #ffe0b2;
  padding: 20px 10px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.order-summary > div {
  margin-top: 30px;
  color: black;
  opacity: 100;
}
.order-summary > h1,
h3 {
  font-weight: 500;
}

.orderPage {
  display: flex;
  justify-content: space-between;
}

.product-dec {
  margin: 100px 120px;
}

.product-Calculation {
  margin: 80px 120px;
  padding: 30px;
  border-radius: 8px;
  position: sticky;
  background-color: #ffe0b2;
}
