.product-container {
  /* border: 1px solid #95a0a7; */
  border-radius: 8px;
}
.product-cart {
  width: 320px;
  height: 490px !important;
  padding: 10px;
}
.product-cart > img {
  width: 100%;
  text-align: center;
  border-radius: 8px;
}
.cart-items {
  margin: 14px 10px;
  line-height: 25px;
  margin-bottom: 0;
}

.cart-items > h5 {
  font-size: 21px;
  color: #0e161a;
  font-weight: 500;
  text-transform: capitalize !important;
}
.cart-items > h6 {
  font-size: 17px;
  font-weight: 400;
  margin: 10px 0;
}

.cart-items > div {
  margin-top: 40px;
}
.cart-items > div > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;

  color: #2a414f;
}

.product-container > button {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  bottom: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 0.4s;
}
.product-container > button:hover {
  background: #ffd089;
}

.product-container > button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(216, 223, 20);
}
.product-container > button:active::after {
  box-shadow: 0 0 0 0 rgb(130, 225, 15);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.product-container > button:active {
  top: 1px;
}
